* {margin: 0; padding: 0%;}

.texto-principal{

    color: rgb(12, 10, 24);
}

/* .texto-segundario{color: blue;} */

/* . significa o atributo classe */
/* background-color - cor de fundo */


#texto1{
background-color: aquamarine;} 

#texto2{
    
    background-color: darksalmon;
}